Polybar/PCB/KiCad/Polybar_Strum_Board/Polybar_Strum_Board-backups/
Polybar/PCB/KiCad/Polybar_Strum_Board/~*
Universal/PCB/KiCad/Fret_Boards/Kailh_Choc_Fret_Board/Kailh_Choc_Fret_Board-backups/
Universal/PCB/KiCad/Fret_Boards/Kailh_Choc_Fret_Board/~*
Universal/PCB/KiCad/Fret_Boards/Cherry_MX_Fret_Board/Cherry_MX_Fret_Board-backups/
Universal/PCB/KiCad/Fret_Boards/Cherry_MX_Fret_Board/~*
Minibar/PCB/KiCad/Minibar_Strum_Board/Minibar_Strum_Board-backups
Minibar/PCB/KiCad/Minibar_Strum_Board/~*
Minibar_Strum_Board_Pro/Minibar_Strum_Board-backups
Minibar_Strum_Board_Pro/~*
Fret_Board/Fret_Board-backups/
Fret_Board/~*